@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 500 700;
}

@media (prefers-reduced-motion: no-preference) {
  dialog {
    opacity: 0.6;
    scale: 0;
    transition: display 250ms allow-discrete, scale 250ms, opacity 250ms;
    transition-timing-function: ease-out;
  }

  dialog[open] {
    opacity: 1;
    scale: 1;
  }

  @starting-style {
    dialog[open] {
      scale: 0;
      opacity: 0.6;
    }
  }
}

.comment {
  grid-template-areas: "info info" "content content" "vote options";
}

@media (width >= theme("screens.md")) {
  .comment {
    grid-template-areas:
      "vote info options"
      "vote content content";
  }
}

.options {
  grid-area: options;
}

.content {
  grid-area: content;
}

.vote {
  grid-area: vote;
}

.info {
  grid-area: info;
}
